* {
  margin: 0;
  /* ลบระยะห่างภายนอกทั้งหมด */
  padding: 0;
  /* ลบระยะห่างภายในทั้งหมด */
  box-sizing: border-box;
  /* ตั้งค่าขนาดให้รวม margin และ padding */
}
.container {
display: flex;
  flex-direction: column;
  /* จัดเรียงในแนวตั้ง */
  min-height: 100vh;
  /* ความสูงขั้นต่ำ 100% ของ viewport */
  background-color: #316c78;

}

.header {
  background-color: #003f5c !important;
  color: #fd2727;
  font-size: 20px;
  height: 60px;
  flex: 0 0 auto;
  /* หัวอยู่ที่ตำแหน่งเดิม */
}


.footer {
  background-color: #003f5c;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  /* จัดตำแหน่งข้อความให้กึ่งกลาง */
}

.main {
  background-color: #b1c6b2;
  flex: 1;
  /* ขยายเต็มพื้นที่ที่เหลืออยู่ */
  margin: 10px;
  display: flex;
  /* ทำให้เป็น Flex Container */
  flex-direction: column;
  /* ปรับให้แนวตั้ง */
  border-radius: 8px;
  /* มุมโค้ง */
  padding: 20px;
  /* เพิ่ม padding รอบๆ */
}

.menu {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6e9991;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    /* แทนที่จะเป็น 100% ให้ใช้ auto เพื่อปรับตามเนื้อหา */
    box-sizing: border-box;
}


img {
  width: 200px;
  /* กำหนดขนาดความกว้างของรูปภาพ */
  height: 200px;
  /* ให้ความสูงปรับตามอัตราส่วนของภาพ */
  border-radius: 8px ;
  border: 1px solid #000000;
  transition: transform 0.3s ease, filter 0.3s ease;
  /* เพิ่มการเปลี่ยนแปลงเพื่อความนุ่มนวล */
}

/* สไตล์เมื่อเลื่อนเมาส์ไปที่ภาพ */
.button-image:hover img {
  filter: brightness(0.8);
  /* ลดความสว่าง */
}