.data-meet {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    background-color: #3f6c7f;
    border-radius: 8px;
    border: 1px solid #000000;
    overflow-x: auto;
    /* ควบคุมการย่อ-ขยายไม่ให้เกิน */
}

.table {
    background-color: rgb(32, 60, 97);
    color: #ffffff;
    width: 100%;
    border-collapse: collapse;
    /* มุมซ้ายบน และขวาบนของตาราง */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

td {

    padding: 10px;
    /* ช่องว่างภายใน */
    text-align: left;
    /* จัดตำแหน่งซ้าย */
    border: 1px solid #000000;
    /* กรอบของเซลล์ (สีขาว) */
}

.th-left {
    padding: 8px;
    /* ช่องว่างภายใน */
    text-align: left;
    /* จัดตำแหน่งซ้าย */
    max-width: 300px;
    /* จำกัดความกว้างสูงสุดของคอลัมน์ */
    white-space: normal;
    /* อนุญาตให้บรรทัดห่อคำ */
    word-wrap: break-word;
    /* ตัดคำถ้ายาวเกินขอบ */
    overflow-wrap: break-word;
    /* รองรับเบราว์เซอร์ */


}

.th-center {
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    /* ป้องกันไม่ให้ตัดบรรทัด */
}



.list-row {
    background-color: #ffffff;
    color: #000;
    /* สีพื้นหลังเมื่อเลื่อนเมาส์ */
}

.list-row:hover {
    background-color: #ff1414;
    /* สีพื้นหลังเมื่อเลื่อนเมาส์ */
}




.foot-table {
    padding: 5px;
    text-align: right;
}


.row-page {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-right: 5px;
}

.button-back,
.button-next {
    background-color: aquamarine;
    width: 20px;
    color: #ff2d2d;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
    /* แสดงเป็นตัวชี้นิ้วเมื่อโฮเวอร์ */

}



.button-page {
    background-color: aquamarine;
    font-size: 16px;
    width: 20px;
    color: #000;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
}

.button-view,
.button-edit,
.button-delete {
    margin: 1px;
    cursor: pointer;
}

.button-view {
    background-color: chartreuse;
    border-radius: 4px;
    border: 1px solid #000000;
}

.button-edit {
    background-color: gold;
    border-radius: 4px;
    border: 1px solid #000000;
}

.button-delete {
    background-color: #ff2d2d;
    border-radius: 4px;
    border: 1px solid #000000;
    
}