.sidebar {
    width: 200px ;
    height: 100%;
    /* ความกว้างของ Sidebar */
    background-color: #003f5c;
    color: #ffffff;
    /* สีพื้นหลัง */
    display: flex;
    /* ใช้ flexbox สำหรับจัดการรายการ */
    flex-direction: column;
    /* จัดเรียงรายการในแนวตั้ง */
}

.MuiListItem-root {
margin-bottom: 5px;
    /* ระยะห่างระหว่างรายการ */
}

.sidebar .MuiListItem-root:hover {
    background-color: #6e9991;
}

.sidebar .MuiListItemText-root {
    text-align: center;
    /* จัดข้อความให้อยู่กลาง */
    font-weight: bold;
    /* ทำให้ข้อความหนาขึ้น */
}